<div id=Login class=center>

<h2 id=Greeting> Sign In </h2>

<p id=UNPprompt>
Please type your username and password below
</p>
<input id=UNinput placeholder="Username"  #username name="username">

<input id=Pinput placeholder="Password" [type]="hide ? 'password' : 'text'" #password name="password">
<div id=showPass>
  <button id=ShowPassword (click)="myFunction()">Show Password</button>
</div>

<button id=SignInButton (click)="clickme(username.value,password.value)" (click)= "username.value= ''" (click)= "password.value= ''"> Sign In</button>

</div>


