<div id=Login class=center>
<input [(ngModel)]="name" #ctrl="ngModel" required>

<p>Value: {{ name }}</p>
<p>Valid: {{ ctrl.valid }}</p>

<button (click)="setValue()">Set value</button>


</div>
<h2 id=Greeting> Sign In </h2>

<p id=UNPprompt>
Please type your username and password below
</p>
<input id=UNinput placeholder="Username" [(ngModel)]="name" #username>
<input id=Pinput placeholder="Password" [type]="hide ? 'password' : 'text'" #password>
<div id=showPass>
  <button id=ShowPassword (click)="myFunction()">Show Password</button>
</div>

<button id=SignInButton (click)="clickme(username.value,password.value)" (click)="remove()">Sign In</button>


