#friendsList{
  color:rgb(12, 94, 45);
  text-align:center;
  justify-content: center;
  padding-left: 15px;
  width:fit-content;
  
}
#warningMessage{
  font-size: small;
  font-weight: 500;
  padding-left: 15px;
  width:fit-content;
}
#homePage{
  text-align:center;
  position: relative;
  margin: 0 auto;
  width: 200px;
  padding-left: 150px;
  padding-top: 35px;
}

#yourFriends{
  border: 3px solid rgb(12, 94, 45);
  width:fit-content;
  height: fit-content;
}
